@font-face {
    font-family: "Ubuntu-Medium";
    src: url(/Fonts/Ubuntu-Medium.ttf) format('truetype');
    font-style: normal;
}

/* Estilos generales */
body {
    font-family: "Ubuntu-Medium", "Poppins", sans-serif;
    background: url(/Images/pexels-adonyi-foto-1414651.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

/* Estilo del contenedor principal con borde y blur */
.container {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);

}

/* Estilo del contenedor principal con borde y blur */
.container {
    max-width: 80%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    padding: 30px;
    background: rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease;
}

.container:hover {
    transform: translateY(-10px);
}

h1 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.7);
}

/* Estilo del borde animado */
.border-animate {
    border-color: #f56565;
    border-style: solid;
    animation: border-pulse 3s infinite ease-in-out;
}

@keyframes border-pulse {
    0% {
        border-color: #f56565;
        border-width: 4px;
    }
    50% {
        border-color: #ed64a6;
        border-width: 8px;
    }
    100% {
        border-color: #f56565;
        border-width: 4px;
    }
}

/* Estilo para botones y entradas */
.btn-primary {
    background-color: #f56565;
    border-color: #f56565;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background-color: #6b5a62;
    border-color: #6b5a62;
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn-primary:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.form-control, input, select, textarea {
    border-radius: 8px;
    margin-bottom: 1rem;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    transition: all 0.3s ease;
}

.form-control:focus, input:focus, select:focus, textarea:focus {
    border-color: #f56565;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    outline: none;
}


